<h1>Listing burgers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @burgers.each do |burger| %>
  <tr>
    <td><%= link_to 'Show', burger %></td>
    <td><%= link_to 'Edit', edit_burger_path(burger) %></td>
    <td><%= link_to 'Destroy', burger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Burger', new_burger_path %>
