<div id="loot">
Game {{game.id}}: {{game.name}}. Player {{player.id}}
  <br/>

  <div id="gameArea" style="height:100%">
    <div ng-repeat="player in players" class="player">
      <div style="position:absolute;right:{{player.coords[0]}}px;top:{{player.coords[1]}}px;">{{player.name}}</div>
      <!--<div ng-repeat="merchant in player.merchants" class="merch">-->
        <!--{{merchant.strength}}-->
        <!--<div ng-repeat="attacker in merchant.attackers" class="attacker {{attacker.color_str}}">-->
          <!--{{attacker.strength}}-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>

  <div id="hand" style="position:fixed;left:10px;">
    <card ng-repeat="ship in player.hand" ship="ship" style="display:block"/>
  </div>
</div>
