<div id="loot">
  Game {{game.id}}: {{game.name}}. Player {{player.id}}
  <br/>

  <div id="gameArea" style="height:100%">
    <div class="playerTrack" num="$index" ng-repeat="player in players">
      {{player.name}}
      <div class="merchantArea" ng-repeat="merchant in player.merchants">
        {{merchant.strength}}
        <div class="carrier" ng-show="merchant.winner">
          <img ng-src="ships/{{merchant.winner.color_str}}.png" />
        </div>
        <div class="attackerGroup" ng-repeat="attackerGroup in merchant.attackerGroups">
          <div class="attacker" ng-repeat="attacker in attackerGroup">
            <img ng-src="ships/{{attacker.color_str}}.png" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="hand" style="position:fixed;left:10px;">
    <card ng-repeat="ship in player.hand" ship="ship" style="display:block" id="ship_{{ship.id}}"
          data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true}"
    />
  </div>
</div>