<div id="loot">
  <h2>New game</h2>
  <form id="createForm" name="createForm">
    <div id="createDiv">
      <div id="name">
        Name:
        <div><input type="text" ng-model="gameName" required/></div>
      </div>
      <div id="players">
        Players:
        <ul>
        <li ng-repeat="user in newGameUsers">{{user.name}}</li>
          <li>
            <input type="text" id="userSearch" ng-placeholder="Search for a user" class="username" ng-model="userSearch"
                   ng-change="usernameTextEntered(this)"/>
          </li>
        </ul>
      </div>

      <div id="userInput">

        <div id="searchResultsContainer" style="width: 200px;border: 1px dotted black" ng-show="searchResults.length > 0">
          <div ng-repeat="user in searchResults" ng-click="addUser(user)">{{user.name}}</div>
        </div>
      </div>

      <input type="button" class="btn" style="position:absolute;bottom:10px" ng-click="createGame()" value="Create game"
             ng-disabled="createForm.$invalid || newGameUsers.length < 2"/>
    </div>
  </form>

</div>
